// custom-fonts

@font-face {
      font-family: 'Gilroy';
      src: url(../fonts/Gilroy-Light.woff) format('woff');
      font-weight: 200;
}
@font-face {
      font-family: 'Gilroy';
      src: url(../fonts/Gilroy-Medium.woff) format('woff');
      font-weight: 300;
}

@font-face {
      font-family: 'Gilroy';
      src: url(../fonts/Gilroy-Regular.woff) format('woff');
      font-weight: 400;
}
@font-face {
      font-family: 'Gilroy';
      src: url(../fonts/Gilroy-Semibold.woff) format('woff');
      font-weight: 500;
}
@font-face {
      font-family: 'Gilroy';
      src: url(../fonts/Gilroy-Extrabold.woff) format('woff');
      font-weight: 600;
}
@font-face {
      font-family: 'Milky';
      src: url(../fonts/MilkyNice.ttf);
      font-weight: normal;
}

